# Configuration file

####################
# "!enable"
####################

""!enable"" {
    B:"Enable Utility Set"=true
    ####################
    # "enable metals"
    ####################

    ""enable metals"" {
        B:"Enable Bitumen"=true
        B:"Enable Magnesium"=true
        B:"Enable Phosphorite"=true
        B:"Enable Potash"=true
        B:"Enable Saltpeter"=true
        B:"Enable Sulfur"=true
    }

    ####################
    # enable metals
    ####################

    "enable metals" {
        B:"Enable Bitumen"=true
        B:"Enable Magnesium"=true
        B:"Enable Phosphorite"=true
        B:"Enable Potash"=true
        B:"Enable Saltpeter"=true
        B:"Enable Sulfur"=true
    }

}


####################
# "#block ids"
####################

""#block ids"" {
    S:"Bitumen Ore"=917:11
    S:"Magnesium Ore"=917:10
    S:"Phosphorite Ore"=917:8
    S:"Potash Ore"=917:12
    S:"Saltpeter Ore"=917:9
    S:"Sulfur Ore"=917:7
}


####################
# bitumen
####################

bitumen {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# "item ids"
####################

""item ids"" {
    I:Bitumen=22874
    I:Fertilizer=22875
    I:"HE TNT"=932
    I:"LE TNT"=933
    I:Magnesium=22876
    I:"Magnesium Igniter"=22877
    I:Match=22878
    I:Phosphorus=22879
    I:Potash=22880
    I:Saltpeter=22881
    I:Sulfur=22882
    I:Tar=22883
}


####################
# magnesium
####################

magnesium {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# phosphorite
####################

phosphorite {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# potash
####################

potash {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# recipes
####################

recipes {
    B:"Enable Fertilizer"=true
    B:"Enable HE TNT"=true
    B:"Enable LE TNT"=true
    B:"Enable Magnesium Igniter"=true
    B:"Enable Match"=true
}


####################
# saltpeter
####################

saltpeter {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


####################
# sulfur
####################

sulfur {
    ####################
    # misc
    ####################

    misc {
        I:"Block Hardness Level"=1
    }

    ####################
    # "world gen"
    ####################

    ""world gen"" {
        S:Diminsions=0 2-100000
        I:"Max Height"=128
        I:"Min Height"=0
        I:"Vein Chance"=100
        I:"Vein Density"=100
        I:"Vein Size"=4
        I:"Veins Per Chunk"=4
    }

}


