# Configuration file

####################
# block
####################

block {
    I:advancedmachines.arrayCable.id=1744
    I:advancedmachines.arrayController.id=1743
    I:advancedmachines.arrayDevice.id=1742
    I:advancedmachines.block.id=1741
    I:blockMultipart.id=1439
    I:chunkloader.id=960
    I:peripherals.block.id=1746
    I:peripherals.lan-wire.id=1745
    I:tubestuff.id=1808
    I:tubestuff.storage.id=1661
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    B:advancedmachines.enableArrayModule_actual=true
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.idleEUPerTick_washer=1
    I:advancedmachines.maxArrayWindmillEffectiveHeight=147
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    I:advancedmachines.runningEUPerTick_washer=48
    I:advancedmachines.spinDownRate=2
    I:advancedmachines.spinUpRate=1
    B:advancedmachines.useOreDictionaryIronPlate=true
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=3=20,4=20,87=80,263:0=12000,331=1200,263:1=1200,378=18000,381=36000,348=2400,1=60,112=200,368=18000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2

    # If true, chunkloaders placed by a player will only load chunks while that player is online.
    B:chunkloader.requireOnline=false
    B:chunkloader.useFuel=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10

    # Which power system should be used. Possible values are: ic2 (IndustrialCraft 2's energy network), minecraftJoules (Buildcraft's power system, also used by other mods), redstoneFlux (Thermal Expansion's power system, also used by other mods), infinite (power is free)
    S:preferredEnergySystem=ic2
    B:tubestuff.enableBHCAnim=true
    B:tubestuff.enableBHCParticles=true
    B:tubestuff.enableBlackHoleChest=false
    B:tubestuff.enableCraftingBlockBreaker=true
    B:tubestuff.enableCraftingDeployer=true
    B:tubestuff.enableCraftingIncinerator=true
    B:tubestuff.enableCraftingLiquidIncinerator=true
    B:tubestuff.enableCraftingOnlinePlayerDetector=true
    B:tubestuff.enableCraftingRetrievulator=true
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:advancedmachines.sharpPlate=5620
    I:itemSaw=11306
    I:peripherals.component=10155
    I:peripherals.magstripe=10153
    I:peripherals.rfid=10154
    I:tubestuff.uselessItem=11307
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


